{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
        <h1 class="text-mainBlue text-desktopXL">Domaines</h1>
        {% for domain in domains %}
            <a href="{{ path('domain_show', {'id':domain.id}) }}">
                <img src="{{ domain.imgUrl }}" alt="{{ domain.name }}">
                <h2>{{ domain.name }}</h2>
            </a>
        {% endfor %}
{% endblock %}
