{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="min-h-[90vh]">
    <section class="w-full flex flex-col items-center justify-center">
        <h1 class="text-mobileLG text-titleBlue md:text-mobileXL lg:text-desktopXL">Domaines</h1>
        <p class="text-mobileBase text-textColor lg:text-desktopLG">Veuillez sélectionner un domaine</p>
        <div class="flex flex-col gap-10 h-full mt-10 lg:flex-row lg:gap-20 lg:mt-[15vh]">
            {% for domain in domains %}
                <a href="{{ path('domain_show', {'id':domain.id}) }}" class="bg-CustomWhite w-[200px] h-[200px] flex items-center justify-center overflow-hidden flex-col shadow-[0px_2px_0px_#3855FA] gap-5 p-5 rounded-[5px] relative">
                    <span class="w-full h-full conte absolute bg-transparent z-[3] before:content-[''] before:absolute before:w-full before:h-[0%] before:bg-[#3855FA] before:transition-all before:ease-in-out before:duration-[0.5s] before:z-[1] before:right-0 before:bottom-0 hover:before:h-full"></span>
                    <img src="{{ asset('assets/images/domains/'~domain.imgUrl) }}" alt="{{ domain.name }}" class="max-w-[150px] z-[2]">
                    <h2 class="text-mobileBase md:desktopSM z-[2]">{{ domain.name }}</h2>
                </a>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
