<!-- ======= Footer ======= -->
<footer>
    <div class="flex justify-center my-[24px] md:mt-[80px] md:mb-[48px] gap-3.5 md:gap-8 text-titleBlue ">
        <a href="#"><i class="fa-brands fa-twitter text-[24px] md:text-[32px]"></i></a>
        <a href="#"><i class="fa-brands fa-instagram text-[24px] md:text-[32px]"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f text-[24px] md:text-[32px]"></i></a>
        <a href="#"><i class="fa-brands fa-youtube text-[24px] md:text-[32px]"></i></a>
    </div>
</footer>